* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    /* max-width: 100vw;
    overflow-x: hidden; */
    /* font-family: 'Poppins', sans-serif; */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    padding: 0;
}

.navbar {
    /* background-color: #712cf9; */
    /* background: transparent; */
    /* backdrop-filter: blur(10px); */
}

.navbar .navbar-brand {
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    color: #000;
}

.navbar .navbar-search {
    width: 100%;
    height: 50px;
    border-radius: 0 !important;
    background-color: transparent;
}

.search-movie__form {
    width: 350px;
    display: flex;
    color: #fff;
}

.parallax {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    object-fit: cover;
    object-position: top 5rem;
    min-height: 600px;
    filter: blur(50%);
    position: relative;
}
